<% provide(:title, "Job and Talent") %>
<!DOCTYPE html>
<html lang="en" class="no-js">

<body>

<header>
  <!--<div id="logo"><img src="/logo.png">HTML5&nbsp;Layout</div>-->
  <!--<nav>
    <ul>
      <li><a href="/">Home</a>
      <li><a href="https://html-css-js.com/">HTML</a>
      <li><a href="https://html-css-js.com/css/code/">CSS</a>
      <li><a href="https://htmlcheatsheet.com/js/">JS</a>
    </ul>
  </nav>-->
</header>
<section>
  <div align='center'><h1 style="font-size:40px">
  <strong>Job and Talent</strong>
  </h1>
  </div>
</section>
<section id="pageContent">
  <main role="main">
    <article>
      <h2>Marketplace</h2>
      <h1 style="font-size:20px">
      <p>Briefly, a marketplace is a platform where various roles, such as people or companies offering services or goods, and customers, can communicate and negotiate.</p>
      <p>The job and talent marketplace is a classic job board, but it is also a modern platform that offers various services to all parties that can end up making an employment contract. For example, it provides an AI-driven job matching engine that helps in finding the best employees and generating satisfaction in workers, hiring tools that simplify things like labor contracts and taxes, and workforce management, like payments and training.</p>
      <p>Some key metrics that indicate if the marketplace is growing are fill rate, 1-month worker retention, number of companies and workers, size of datasets, cost per hire.</p>
      </h1>
    </article>
    <article>
      <h2>Managed Service</h2>
      <h1 style="font-size:20px">
      <p>Job and Talent is also a managed service provider. This means J&T manages worker recruitment, and even payments and other processes, for an organization, trying to guarantee a strong and durable workforce.</p>
      </h1>
    </article>
  </main>
</section>

</body>

</html>