<!doctype html>
<html lang="en" class="no-js">

<body>

<header>
  <!--<div id="logo"><img src="/logo.png">HTML5&nbsp;Layout</div>-->
  <!--<nav>
    <ul>
      <li><a href="/">Home</a>
      <li><a href="https://html-css-js.com/">HTML</a>
      <li><a href="https://html-css-js.com/css/code/">CSS</a>
      <li><a href="https://htmlcheatsheet.com/js/">JS</a>
    </ul>
  </nav>-->
</header>
<section>
  <div align='center'><h1 style="font-size:40px">
    <strong>Ruby on Rails</strong>
  </h1>
  </div>
</section>
<section id="pageContent">
  <main role="main">
    <article>
      <h2>Ruby on Rails syntax</h2>
      <h1 style="font-size:20px">
      <p>So far I haven't had much experience with the Ruby language, but I did work a bit directly with ruby on rails, creating these static pages, in fact. I'm amazed at how fast this can be done as I've tried other web development tools before, and none are as fast. I think that later when learning more about ruby, I will realize the difference in the syntax of this language with respect to, for example, python.</p>
      </h1>
    </article>
    <article>
      <h2>Convention over Configuration</h2>
      <h1 style="font-size:20px">
      <p>Convention over Configuration principle means that for Rails there is a correct way of doing things. This implies there are a lot of conventions, that is, a lot of default protocols for doing web development. One example of this is the way that Rails generate controllers, assigning by default the actions with views files.</p>
      </h1>
    </article>
    <article>
      <h2>Model-View-Controller architecture</h2>
      <p></p>
    </article>
    <article>
      <h2>Rails dependencies</h2>
      <h1 style="font-size:20px">
      <p>With RubyGems. RubyGems is a package management tool for Ruby, and it is installed together with Ruby. This a command line tool that can be accessed with the 'gem' command. For example, for installing the latest rails version you can run -gem install rails-, and for listing the gems already installed you can run gem list.</p>
      </h1>
    </article>
  </main>
</section>

</body>

</html>
